{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- ШАПКА КАК НА ГЛАВНОЙ -->
<header class="header">
    <div class="logo">Доска объявлений</div>

    <nav>
        <a href="/">Главная</a>
        <a href="{% url 'signup' %}">Регистрация</a>
    </nav>
</header>

<!-- СТРАНИЦА ВХОДА -->
<main class="login-page">
    <div class="auth-wrapper">
        <div class="auth-card">

            <h1>Вход</h1>

            {% if form.errors %}
                <div class="auth-error">
                    Неверный логин или пароль
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Войти</button>
            </form>

            <div class="auth-links">
                <a href="{% url 'signup' %}">Нет аккаунта? Регистрация</a>
            </div>

        </div>
    </div>
</main>

</body>
</html>

