{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Лента объявлений</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="header">
    <div class="logo"><a href="/" style="text-decoration:none;color:#000;">Доска объявлений</a></div>

    <nav>
        {% if user.is_authenticated %}
            <span>{{ user.username }}</span>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button class="link-btn">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Вход</a>
            <a href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</header>

<main class="hero">
    <h1>Лента объявлений</h1>
    <p>Новые объявления сверху</p>

    <div style="margin-bottom: 20px;">
        <a class="main-btn" href="{% url 'create_ad' %}">Разместить объявление</a>
    </div>

    {% if ads %}
        <div style="text-align:left; display:grid; gap:14px;">
            {% for ad in ads %}
                <div style="border:1px solid #ffeded; padding:14px; border-radius:8px;">
                    <div style="font-weight:bold; font-size:18px; margin-bottom:6px;">
                        {{ ad.title }}
                    </div>

                    {% if ad.price %}
                        <div style="margin-bottom:6px;">
                            <b>Цена:</b> {{ ad.price }}
                        </div>
                    {% endif %}

                    {% if ad.description %}
                        <div style="color:#000;">
                            {{ ad.description|linebreaksbr }}
                        </div>
                    {% endif %}

                    <div style="margin-top:10px; font-size:13px; color:#444;">
                        Автор: {{ ad.author.username }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Пока объявлений нет. Будь первым 🙂</p>
    {% endif %}
</main>

</body>
</html>
